<!DOCTYPE html>


<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <h1>From a about file</h1>
        <img class="potrait" src ="img/robot.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        
        {{>footer}}
    </body>
</html>